// .login-wrapper {
//   min-height: 100vh;
//   padding: 16px;
//   background: linear-gradient(135deg,
//       #154fc2 0%,
//       #fafafa 100%);
// }

// .login-card {
//   width: 100%;
//   max-width: 380px;
//   border-radius: 16px;
//   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
// }

.login-wrapper {
  min-height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center-end;
  background-image: url('login.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}


.login-wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  // background: rgba(0, 0, 0, 0.45);

}

h2{
  color: yellowgreen;
}
.login-card {
  position: relative;
  z-index: 1;
  margin-left: 55%;
  width: 360px;
  border-radius: 12px;

}
.login-header {
  text-align: center;
  margin-bottom: 24px;
}

.login-header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #262626;
}

.login-header span {
  color: #8c8c8c;
  font-size: 14px;
}

.login-btn {
  width: 100%;
  height: 42px;
  border-radius: 8px;
  font-weight: 600;
}

:host ::ng-deep .ant-input {
  height: 42px;
  border-radius: 8px;
}
.eye-icon {
  cursor: pointer;
  color: #999;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;

  position: absolute;
  top: 10px;
  left: 0;

  color: yellow;
  font-weight: 500;
  font-size: 20px;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 576px) {
  .login-card {
    width: 92%;
      padding: 16px;
  }

  .login-header h2 {
    font-size: 20px;
  }
}
