<nz-card style="width:90%;">

  <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">


    <div nz-row nzAlign="middle" [nzGutter]="20">

      <!-- Currency + Amount -->
      <div nz-col nzFlex="320px">
        <nz-form-item>
          <nz-form-label nzRequired>Curr Amount</nz-form-label>
          <nz-form-control nzErrorTip="Required">
            <nz-input-group nzCompact style="display: flex;">
              <nz-select formControlName="firstCurrency" style="width: 110px; min-width: 110px;">
                @for(item of currencyList;track item.value){
                <nz-option [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                }
              </nz-select>
              <input nz-input type="number" formControlName="firstAmount" placeholder="Amount" style="flex: 1;" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>



      <div nz-col nzFlex="220px">
        <nz-form-item>
          <nz-form-label> Rate
          </nz-form-label>
          <nz-form-control>

            <input nz-input formControlName="firstRate" placeholder="Rate" />

          </nz-form-control>

        </nz-form-item>

      </div>


      <div nz-col nzFlex="220px">

        <nz-form-item>

          <nz-form-label>
            INR Amount
          </nz-form-label>

          <nz-form-control>

            <input nz-input formControlName="firstInrAmount" placeholder="INR Amount" />

          </nz-form-control>

        </nz-form-item>

      </div>

    </div>




    <div>

      <div>
        <nz-form-item>
          <nz-form-label nzRequired>Account Number</nz-form-label>
          <nz-form-control nzErrorTip="Account Number Required">
            <nz-select formControlName="accountNumber" nzPlaceHolder="Select Account Number" style="width: 270px">
              @for (item of accountNumberList; track item.value){
              <nz-option [nzLabel]="item.value" [nzValue]="item.value"></nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>


    <div nz-row>
      <div nz-col>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" type="submit">
              {{ editIndex !== null ? 'Update' : 'Add' }}
            </button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

  </form>


  <!-- Table -->

  <nz-table [nzData]="tableData" [nzPageSize]="5" [nzBordered]="true" [nzSize]="'middle' "
    [nzNoResult]=" 'No Data Available'">

    <thead>

      <tr>
        <th>Sr No </th>
        <th>Account Number</th>
        <th>Currency</th>
        <th>Amount</th>
        <th>Rate</th>
        <th>INR Amount</th>
        <th>Action</th>
      </tr>

    </thead>

    <tbody>
      @for(data of tableData; track data; let i = $index){
      <!-- *ngFor="let data of tableData; let i = index" -->
      <tr>
        <td>{{
              (nzPageIndex - 1) * nzPageSize + i + 1
          }}</td>
        <td>{{ data.accountNumber }}</td>
        <td>{{ data.firstCurrency }}</td>

        <td>{{ data.firstAmount }}</td>

        <td>{{ data.firstRate }}</td>

        <td>{{ data.firstInrAmount }}</td>



        <td>

          <button nz-button nzType="link" (click)="editRow(i)">
            Edit
          </button>

          <button nz-button nzDanger nzType="link" (click)="deleteRow(i)">
            Delete
          </button>

        </td>

      </tr>
      }

    </tbody>

  </nz-table>

</nz-card>