.mt-16 {
  margin-top: 16px;
}

.currency-amount {
  display: flex;
  gap: 10px;
}

.currency-amount nz-select {
  width: 180px;
}

.currency-amount input {
  flex: 1;
}

.button-section {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

@media(max-width:768px) {

  .currency-amount {
    flex-direction: column;
  }

}

.whole {
  background-color: rgb(243, 245, 245);
  overflow: hidden;
  padding: 5px;
}


.scroll-card {
  height: 300px;
}

.scroll-card ::ng-deep .ant-card-body {
  height: 240px;
  overflow-y: auto;
}

.scrollable-card {
  height: calc(100vh - 10px);
  overflow-y: auto;
  background-color: azure;
}

.upload {
  background-color: azure;
}

.upload-card {
  height: calc(100vh - 10px);
  overflow: hidden;
}

.pdf-preview {
  margin-top: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  overflow: hidden;
}

.pdf-preview iframe {
  border: none;
}

.header {
  background-color: blue;
}
