/* .dashboard-container {

  background: #f5f7fb;
  min-height: 100vh;
  overflow: hidden;
}
*/
.dashboard-container {
  width: 100%;
  background: #f5f7fb;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.app-layout {
  height: 100vh;
  overflow: hidden;
}

.ant-card-body {
  padding: 8px;
}


.mt-16 {
  margin-top: 8px;
  margin-top: 4px;
  border-radius: 10px;
}

.mt-12 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.w-100 {
  width: 100%;
}

.round {
  border-radius: 10px;
}

.kpi-card {
  border-radius: 18px;
  min-height: 50px;
}

.kpi-content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.kpi-title {
  font-size: 14px;
  font-weight: 500;
  color: red;
}

.kpi-count {
  font-size: 14px;
  font-weight: 500;
}

/* Section */

.section-title {

  font-size: 18px;
  font-weight: 600;
}

.card-header {
  border-radius: 10px;
  width: 100%;

}

.section-title {
  font-size: 18px;
  font-weight: 600;
  color: blue;
}


/* Table */

.total-row {
  font-weight: 700;
  color: #1677ff;

}

/* Account */

.label {
  color: #4e4095;
  font-size: 13px;
}

.value {
  font-size: 20px;
  font-weight: 600;
}

.amount-section {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 500;
  color: #1677ff;
}

/* Limit */

.limit-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.amount {
  font-size: 18px;
  font-weight: 600;
}

/* Notification */

.notification-list {
  padding-left: 20px;

  li {
    margin-bottom: 16px;
  }
}

.view-all {
  color: #1677ff;
  text-align: right;
  cursor: pointer;
  font-weight: 600;
}

/* .banner-card {
  overflow: hidden;
  border-radius: 12px;
} */

:host ::ng-deep .banner-card .ant-card-body {
  padding: 10px !important;
}

.logo {

  background-size: cover;
}

.banner-card {
  overflow: hidden;
  border-radius: 12px;
  background-image: url('tradeKonnect.png');
  background-size: cover;
  background-position: center;
  min-height: 100px;

}

.banner-content {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 40px;
  color: white;
}

.banner-left {
  max-width: 350px;
}

.banner-left h2 {
  color: white;
  font-size: 38px;
  line-height: 1.2;
}

.banner-left p {
  color: white;
  font-size: 18px;
  margin: 20px 0;
}

*/:host ::ng-deep .sticky-total-row {
  position: sticky;
  bottom: 0;
  z-index: 2;
}

:host ::ng-deep .sticky-total-row td {
  background: #fafafa;
  font-weight: 600;
  border-top: 1px solid #d9d9d9;
}


:host ::ng-deep .ant-card-body {
  padding: 8px;
}

/* Mobile */

@media (max-width: 768px) {

  .dashboard-title {
    font-size: 22px;
  }

  .kpi-count {
    font-size: 24px;
  }

  .banner-left h2 {
    font-size: 24px;
  }

  .banner-content {
    padding: 10px;
  }


}


.logo {
  width: 120px;
  height: 25px;
  margin: 16px 28px 16px 0;
  float: left;
  overflow: hidden;
}

.logo img {
  height: 40px;
  width: auto;
  margin-top: -8px;
}

.header-menu {
  line-height: 30px;
  background-color: rgb(14, 14, 14);
  width: 100%;
}

.sider-menu {
  height: 100%;
  border-right: 0;
}

.inner-layout {
  padding: 8px 10px 10px;
  color: black;
}

nz-breadcrumb {
  margin: 2px 0;
}

nz-content {

  overflow: auto;
  background: #f5f7fb;
}

.small-calendar-card {
  overflow: hidden;
  min-height: 340px;
  max-height: 345px;
  border-radius: 10px;
}

:host ::ng-deep .small-calendar-card .ant-card-body {
  padding: 8px;
  border-radius: 10px;
}

:host ::ng-deep .small-calendar-card .ant-picker-calendar {
  border-radius: 10px;
  overflow: hidden;
}

:host ::ng-deep .small-calendar-card .ant-picker-calendar-mini {
  width: 100%;
  border-radius: 10px;
}

:host ::ng-deep .small-calendar-card .ant-picker-cell {
  padding: 0;
}

:host ::ng-deep .small-calendar-card .ant-picker-cell-inner {
  min-height: 24px;
  line-height: 24px;
  border-radius: 8px;
}

:host ::ng-deep .small-calendar-card .ant-picker-calendar-header {
  padding: 4px 0;
}

:host ::ng-deep .ant-picker-calendar-mini {
  transform: scale(0.75);
  transform-origin: top center;
}

/* .small-calendar-card {
  overflow: hidden;

  min-height: 340px;
  max-height: 345px;
}

:host ::ng-deep .small-calendar-card .ant-card-body {
  padding: 8px;
}

:host ::ng-deep .small-calendar-card .ant-picker-calendar-mini {
  width: 100%;
}

:host ::ng-deep .small-calendar-card .ant-picker-cell {
  padding: 0;
}

:host ::ng-deep .small-calendar-card .ant-picker-cell-inner {
  min-height: 24px;
  line-height: 24px;
}

:host ::ng-deep .small-calendar-card .ant-picker-calendar-header {
  padding: 4px 0;
}

:host ::ng-deep .ant-picker-calendar-mini {
  transform: scale(0.75);
  transform-origin: top center;
} */

/* table  */
:host ::ng-deep .ant-table.ant-table-middle .ant-table-thead>tr>th {
  padding: 4px 4px;
  color: #5a85c1;
}

:host ::ng-deep .ant-table.ant-table-middle .ant-table-tbody>tr>td {
  padding: 4px 4px;
  color: #1b1818;

}



:host ::ng-deep .ant-table-body {
  max-height: 150px !important;
  overflow-y: auto !important;
  border-radius: 10px;
}




.account-header {

  border-radius: 10px;
}

.account-title {
  font-size: 18px;
  font-weight: 600;
}

.account-details {
  margin-top: 10px;
}

.account-label {
  color: #534ea0;
  font-size: 13px;
}

.account-value {
  font-size: 18px;
  font-weight: 600;
}

.account-balance {
  font-size: 20px;
  font-weight: 700;
  color: #1677ff;
}
